/*
  Typography
*/

@text-size: 14px;
@text-color: #2c2c2c;

@title-size: 24px;

/*
  Grid
*/

@container-width-large: 1170px;
@container-width-tablet: 960px;
@container-width-mobile: 100%;

@sidebar-width:  360px;
@sidebar-margin: 20px;
@wrapper-content-width: @container-width-large - @sidebar-margin - 360px;


@media-container: ~"only screen and (max-width: @{container-width-large})";

@header-height: 100px;
@footer-height: 100px;